.root-SR8cQa {
    transform: translateZ(0);

    .header-QKLPzZ .wrapper-3t9DeA {
        &::after {
            content: '';
            position: fixed;
            top: -240px !important;
            left: -1px !important;
            width: 100.2%;
            height: 100%;
            opacity: .5;
            z-index: 0 !important;
            pointer-events: none;
            background: var(--user-background) center/cover no-repeat;
        }

        svg {
            z-index: 1;
            position: relative;
        }
    }

    .headerInfo-30uryT, .tabBarItem-1b8RUP, .activity-1ythUs {
        z-index: 1;
        position: relative;
    }
}