#app-mount .sidebar-2K8pFh {
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius);
    margin-left: calc(var(--separation-padding) * 2);
    display: flex;
    flex-direction: column-reverse;
    
    nav {
        border-radius: var(--border-radius);
        margin-bottom: var(--separation-padding);
    }

    .thin-1ybCId:not(#channels):not(#private-channels) {
        background-color: var(--background-secondary);
        border-radius: var(--border-radius);
        margin-bottom: var(--separation-padding);
    }
}