#app-mount .container-1If-HZ.root-1gCeng {
    .scroller-1-nKid {
        background-color: var(--background-secondary);
    }
    .reactionSelected-1pqISm {
        background-color: var(--background-modifier-selected);
    }

    .reactionDefault-GBA58K:hover {
        background-color: var(--background-modifier-active);
    }

    .reactors-Blmlhw {
        background-color: var(--background-primary);
    }

    .reactor-3UBcOI {
        box-shadow: inset 0 -1px 0 var(--background-modifier-accent);
    }
}