#app-mount .modalSize-cqUaws {
    .tile-2w4k5N:hover .sourceThumbnail-27dolk {
        box-shadow: 0 0 0 2px var(--midnightmars-accent);
    }
    .sourceThumbnail-27dolk.selected-1nOkyc {
        box-shadow: 0 0 0 2px var(--midnightmars-accent);
    }

    .selectorButton-EEUWed:not(.selectorButtonPremiumRequired-mKMbIu):hover,
    .selectorButtonSelected-t5V9On {
        background-color: var(--midnightmars-accent);
    }
}