#app-mount {
    .root-SR8cQa {
        .topSectionPlaying-1J5E4n {
            background-color: var(--midnightmars-accent);
        }

        .topSectionSpotify-1lI0-P {
            background-color: var(--midnightmars-green);
        }

        .connectedAccount-36nQx7 {
            background-color: var(--background-secondary-alt);
            border-color: var(--backgrond-secondary-alt);
        }

        .flowerStar-1GeTsn path {
            fill: rgba(255, 255, 255, 0.25);
        }
        .childContainer-1wxZNh {
            margin-top: 2px;
        }

        .actionButton-3W1xZa {
            &.lookFilled-1Gx00P.colorGreen-29iAKY {
                background-color: var(--midnightmars-green);
            }

            &.lookInverted-2D7oAl.colorBrand-3pXr91 {
                color: var(--midnightmars-accent);
            }
        }
    }
}