#app-mount {
    .container-1D34oG {
        position: relative;
        background-color: var(--background-tertiary);
        border-radius: var(--border-radius);
        margin: var(--separation-padding) calc(var(--separation-padding) * 2) var(--separation-padding) 0;
        left: var(--separation-padding);
    }
}