#app-mount {
    .applicationStore-1pNvnv {
        position: relative;
        background-color: var(--background-tertiary);
        border-radius: var(--border-radius);
        margin: var(--separation-padding) calc(var(--separation-padding) * 2) var(--separation-padding) 0;
        left: var(--separation-padding);
    }
    .featureChildrenWrapper-smz30S > div {
        background-color: var(--background-secondary);
    }
}