#app-mount {
    .perksModal-fSYqOq {
        background-color: var(--background-primary);

        .barBackground-2EEiLw {
            background-color: var(--background-secondary);
        }
        .tierMarkerBackground-3q29am {
            background-color: var(--background-secondary);
        }
        .tierMarkerInProgress-24LMzJ {
            background-color: var(--background-secondary) !important;
        }
        .tierHeaderLocked-1s2JJz {
            background-color: var(--background-secondary-alt);
        }
        .tierBody-16Chc9 {
            background-color: var(--background-secondary);
        }

        .perk-2WeBWW {
            background-color: var(--background-secondary);
        }
    }
}