#app-mount {
    .pageWrapper-1PgVDX {
        background-color: var(--background-primary);
        border-radius: var(--border-radius);
        margin: var(--separation-padding) calc(var(--separation-padding) * 2) var(--separation-padding) 0;
        left: var(--separation-padding);
    }
}