#app-mount .container-2Bfwy4 {
    margin: var(--separation-padding);

    .container-1r6BKw.themed-ANHk51 {
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
    }
    .content-MLh4nU {
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }
}