#app-mount {
    /* -------- BASE ---- */ 
    /* ---- Borders -- */
    .containerDefault--pIXnN .wrapper-2jXpOf,
    .channel-2QD9_O {
        border-radius: var(--indicator-rounding);

        &::before {
            content: "";
            position: absolute;
            border-radius: 25px;
            top: 1px;
            left: 2px;
            bottom: 1px;
        }
    }
    /* -------- CHANNEL INDICATORS ---- */ 
    /* ---- Channel Hover -- */
    .containerDefault--pIXnN .wrapper-2jXpOf:not(.modeSelected-346R90):not(.modeConnected-3IsKId),
    .channel-2QD9_O:not(.selected-aXhQR6) {
        .content-1x5b-n:hover {
            background: var(--indicator-hovered);
        }
    }

    /* ---- Channel Selected -- */
    .modeSelected-346R90,
    .channel-2QD9_O.selected-aXhQR6 {
        .content-1x5b-n {
            background-color: var(--indicator-selected-background);
            &:hover {
                background-color: var(--indicator-selected-hover);
            }
        }

        &::before {
            border-left: var(--indicator-border-info) var(--indicator-selected-border);
        }
    }

    /* ---- Channel Unread -- */
    .modeUnread-1qO3K1 {
        .content-1x5b-n {
            background-color: var(--indicator-unread-background);
            &:hover {
                background-color: var(--indicator-unread-hover);
            }
        }

        &::before {
            border-left: var(--indicator-border-info) var(--indicator-unread-border);
        }

        .unread-2lAfLh {
            display: none;
        }
    }

    /* ---- VC Connected -- */
    .modeConnected-3IsKId {
        .content-1x5b-n {
            background-color: var(--indicator-connected-background);
            &:hover {
                background-color: var(--indicator-connected-hover);
            }
        }

        &::before {
            border-left: var(--indicator-border-info) var(--indicator-connected-border);
        }
    }

    /* ---- DM Channel Positioning -- */
    .channel-2QD9_O {
        margin-left: 0;
        max-width: 100%;

        div .avatar-3uk_u9 {
            margin-left: 8px;
        }
    }
}