@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

@keyframes Gradient {
    0% {
       background-position:0% 50%
    }
    50% {
       background-position:100% 50%
    }
    100% {
       background-position:0% 50%
    }
}

#app-mount .titleBar-AC4pGV {
    z-index: 5;
    background-color: var(--background-secondary);
    border-radius: var(--border-radius);
    margin-top: var(--separation-padding);
    margin-right: var(--separation-padding);
    margin-left: var(--separation-padding);
    padding-top: 2px;

    &.typeWindows-1za-n7::after {
        content: "";
        position: absolute;
        pointer-events: none;
        background: url('data:image/svg+xml;utf8,<svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M28.4342 15.5524C33.4797 17.2264 38.493 19.0038 43.5776 20.5431C48.6603 22.0793 53.7439 24.0654 58.9542 24.6055C65.444 25.2794 71.5759 20.5056 73.6384 14.2067C74.7057 10.9417 76.348 11.9469 78.1913 13.1285C85.5686 17.8597 90.217 24.8447 92.6915 33.0051C94.2624 38.1903 94.4826 43.8285 94.975 49.2945C95.2474 52.3082 93.2564 54.2031 90.6753 55.5569C76.0133 63.2512 62.5936 60.3541 49.399 51.4539C42.2097 46.6051 34.537 42.266 26.5879 38.8703C22.5364 37.1395 17.3965 37.783 12.747 37.7536C7.59302 37.7232 5.7849 35.8303 7.81414 31.2044C11.9872 21.6861 16.4628 16.4401 28.4342 15.5524Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M5.00576 52.8254C4.94906 44.8968 5.20372 45.1373 10.7962 43.8122C22.2767 41.0908 31.6005 45.5734 40.5951 51.8301C47.257 56.462 53.692 61.4357 61.7416 63.677C70.6466 66.1588 79.303 65.9353 87.9444 62.6486C89.1669 62.1845 90.6422 62.395 92 62.2937C91.7941 63.6599 91.8309 65.1244 91.3435 66.3784C86.0036 80.1217 70.2089 82.8431 57.1229 77.0625C53.2474 75.3505 49.3449 73.5663 45.2844 72.4356C37.2656 70.2024 29.4489 73.8279 26.1333 81.4128C24.6512 84.8007 23.3242 84.4669 20.895 82.6617C10.2024 74.709 6.21439 63.4224 5.00576 52.8254Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M73 88.4185C67.423 90.1809 62.8626 91.9268 58.156 93.0383C50.1798 94.9213 42.3458 94.0207 34.9041 90.4981C30.2327 88.2855 29.7023 83.2923 33.589 79.914C37.4001 76.6001 41.892 76.3535 46.1589 77.9695C54.0605 80.964 61.4608 85.3995 70.1581 85.9859C70.7501 86.0248 71.2886 86.9172 73 88.4185Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M29 8.68847C33.16 7.36154 37.2347 5.5584 41.4989 4.81231C48.5939 3.57045 55.7435 3.53818 62.6749 6.24191C65.8133 7.46519 68.1601 9.36318 67.9915 12.767C67.8199 16.1885 65.1189 18.3456 62.0242 18.7407C58.5833 19.1797 54.8101 19.1083 51.5081 18.1608C44.5529 16.1641 37.811 13.4525 30.9858 11.0226C30.4045 10.8143 29.855 10.517 29.2896 10.2618C29.1944 9.73671 29.0962 9.21259 29 8.68847Z" fill="white"/></svg>') 5px 0/15px 17px no-repeat;
        height: 20px;
        width: 20px;
        left: 5px;
        top: 9px;
    }

    .wordmark-2iDDfm {
        svg {
            width: 0;
        }
    
        &::after {
            content: "MIDNIGHT MARS";
            position: absolute;
            font-family: "Fredoka One";
            background: linear-gradient(270deg, #C779D0, #FEAC5E);
            animation: Gradient 4s ease infinite;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            background-size: 200% 200%;
            font-size: 13px;
            font-weight: 600;
            top: 11px;
            left: 29px;
            width: 135px;
        }
    }

    .winButton-iRh8-Z {
        background: var(--icon) 8px 0/13px 15px no-repeat;
        opacity: 0.75;
        margin-top: 4px;
        transition: all 0.2s ease;

        &.winButtonMinMax-PBQ2gm[aria-label="Minimize"] {
            --icon: url('data:image/svg+xml;utf8,<svg width="512" height="128" viewBox="0 0 512 128" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M464 0H48C21.5 0 0 21.5 0 48V80C0 106.5 21.5 128 48 128H464C490.5 128 512 106.5 512 80V48C512 21.5 490.5 0 464 0Z" fill="white"/></svg>');
            &:hover {
                --icon: url('data:image/svg+xml;utf8,<svg width="512" height="128" viewBox="0 0 512 128" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M464 0H48C21.5 0 0 21.5 0 48V80C0 106.5 21.5 128 48 128H464C490.5 128 512 106.5 512 80V48C512 21.5 490.5 0 464 0Z" fill="%23FAA61A"/></svg>');
            }
        }
        &.winButtonMinMax-PBQ2gm[aria-label="Maximize"] {
            --icon: url('data:image/svg+xml;utf8,<svg width="512" height="448" viewBox="0 0 512 448" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M464 0H48C21.5 0 0 21.5 0 48V400C0 426.5 21.5 448 48 448H464C490.5 448 512 426.5 512 400V48C512 21.5 490.5 0 464 0ZM464 394C464 397.3 461.3 400 458 400H54C50.7 400 48 397.3 48 394V160H464V394Z" fill="white"/></svg>');
            &:hover {
                --icon: url('data:image/svg+xml;utf8,<svg width="512" height="448" viewBox="0 0 512 448" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M464 0H48C21.5 0 0 21.5 0 48V400C0 426.5 21.5 448 48 448H464C490.5 448 512 426.5 512 400V48C512 21.5 490.5 0 464 0ZM464 394C464 397.3 461.3 400 458 400H54C50.7 400 48 397.3 48 394V160H464V394Z" fill="%2343B581"/></svg>');
            }
        }
        &.winButtonClose-1HsbF- {
            --icon: url('data:image/svg+xml;utf8,<svg width="512" height="448" viewBox="0 0 512 448" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M464 0H48C21.5 0 0 21.5 0 48V400C0 426.5 21.5 448 48 448H464C490.5 448 512 426.5 512 400V48C512 21.5 490.5 0 464 0ZM380.4 290.5C385.2 295.3 385.2 303.1 380.4 307.9L339.9 348.4C335.1 353.2 327.3 353.2 322.5 348.4L256 281.3L189.5 348.4C184.7 353.2 176.9 353.2 172.1 348.4L131.6 307.9C126.8 303.1 126.8 295.3 131.6 290.5L198.7 224L131.6 157.5C126.8 152.7 126.8 144.9 131.6 140.1L172.1 99.6C176.9 94.8 184.7 94.8 189.5 99.6L256 166.7L322.5 99.6C327.3 94.8 335.1 94.8 339.9 99.6L380.4 140.1C385.2 144.9 385.2 152.7 380.4 157.5L313.3 224L380.4 290.5Z" fill="white"/></svg>');
            &:hover {
                --icon: url('data:image/svg+xml;utf8,<svg width="512" height="448" viewBox="0 0 512 448" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M464 0H48C21.5 0 0 21.5 0 48V400C0 426.5 21.5 448 48 448H464C490.5 448 512 426.5 512 400V48C512 21.5 490.5 0 464 0ZM380.4 290.5C385.2 295.3 385.2 303.1 380.4 307.9L339.9 348.4C335.1 353.2 327.3 353.2 322.5 348.4L256 281.3L189.5 348.4C184.7 353.2 176.9 353.2 172.1 348.4L131.6 307.9C126.8 303.1 126.8 295.3 131.6 290.5L198.7 224L131.6 157.5C126.8 152.7 126.8 144.9 131.6 140.1L172.1 99.6C176.9 94.8 184.7 94.8 189.5 99.6L256 166.7L322.5 99.6C327.3 94.8 335.1 94.8 339.9 99.6L380.4 140.1C385.2 144.9 385.2 152.7 380.4 157.5L313.3 224L380.4 290.5Z" fill="%23F04747"/></svg>');
            }
        }

        svg {
            color: transparent;
        }
    }
}
