#app-mount {
    .autocomplete-1vrmpx {
        background-color: var(--background-secondary);

        .selected-1Tbx07 {
            background-color: var(--background-primary);
        }
        .categoryHeader-O1zU94 {
            background-color: var(--background-secondary);
        }
    }
}