#app-mount .popout-103y-5 {
    background-color: var(--midnightmars-layer-primary);
    box-shadow: 0 0 0 1px var(--midnightmars-layer-outline), 0 2px 10px 0 rgba(0, 0, 0, 0.2);

    .friendSelected-1sa4bG {
        background-color: var(--background-modifier-selected);
    }
}