#app-mount .searchResultsWrap-3-pOjs {
    margin-top: calc(var(--separation-padding) - 2px);
    margin-left: calc(var(--separation-padding) - 2px);
    border-radius: var(--border-radius);

    .searchHeader-2XoQg7 {
        background-color: var(--background-secondary-alt);
    }
}