#app-mount .userPopout-3XzG_A {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px var(--midnightmars-layer-outline);

    .headerNormal-T_seeN {
        background-color: var(--background-tertiary);
    }
    .headerPlaying-j0WQBV {
        background-color: var(--midnightmars-accent);
    }
    .headerSpotify-zpWxgT {
        background-color: var(--midnightmars-green);
    }

    .body-3iLsc4,
    .footer-1fjuF6 {
        background-color: var(--background-secondary);
    }
    .input-cIJ7To:focus {
        border-color: var(--midnightmars-accent);
    }
}